<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/aydi1/IdeaProjects/RestAssuredTestNG/src/test/java/calls/PostFileOrder.java"><classes><class name="calls.PostFileOrder"><methods><include name="postFileBodyOrder"/></methods></class></classes></test></suite>